body{
    margin: auto;
    padding: 0;
    text-align: center;
    /* background-color: coral; */
    
    
}

#output{
    background: #fff;
    border: 2px solid black;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    text-align:center
}
textarea{
    width: 90%;
    height: 20vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

section{
    /* max-width:80rem      ; */
    /* min-width:2rem; */
    /* width:30rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    /* border:3px solid yellow; */
    
}
.container-section{
    /* border:3px solid green; */
    width: 50%;
}

h2{
    font-family: cursive;
}

#btn-translate{
    padding: 8px;
    background: coral;
    color:white;
    border: 2px solid coral;
    border-radius:3px;
    width:40%;
    margin-bottom: 20px;
}

header{
    background: coral;
    display: block;
    width: 100%;
    padding:1.5rem;
}

#footer{
    background: coral;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding-bottom: 4%;
    justify-content: center;
    align-items: center;
   }
   h3{
    font-family: cursive;
   }